/* From the Google Fonts Library */
@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap');

@font-face {
  font-family: 'Yeon Sung', cursive;
  src: url('../fonts/Yeon Sung.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
